<a href="https://colab.research.google.com/github/eif-courses/python-syntax/blob/main/PythonPamokos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Syntax

# Indexed for loop usage

In [1]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

Read letters from string value one by one

In [38]:
for letter in "banana":
  print(letter, end=' ')

b a n a n a

Read python list using indexed for loop

In [7]:
fruits = ["apple", "orange", "lemon", "strawberry"]
for i in range(len(fruits)):
  print(fruits[i], end=' ')

apple orange lemon strawberry

Read python list using range with step 2 or any other it prints apple and lemon if we choose 2

In [36]:
fruits = ["apple", "orange", "lemon", "strawberry"]
for i in range(0, len(fruits), 2): # step 2 means you get apple and lemon
  print(fruits[i], end=' ')

apple lemon

Read two dimensional data

In [33]:
matrix = [[3,2,1], [7,6,9], [5,4,8]]
for i in range(len(matrix)):
  for j in range(len(matrix[0])):
    print(matrix[i][j], end = ' ')
  print()

3 2 1
7 6 9
5 4 8

# For each loop usage

Read list data structure

In [9]:
fruits = ["apple", "orange", "lemon", "strawberry"]
for fruit in fruits:
  print(fruit, end=' ')

apple orange lemon strawberry

Read dictionary data structure

In [27]:
courses = {'Java':'Programming in Java', 'C#': 'Programming in C#', 'Python':'Programming in Python'}
for key, value in courses.items():
  print(f'{key} -> {value}') # print key value from dictionary

print(courses["Java"]) # print dictionary value
courses['Java'] = 'Java language' # Change dictionary key Java value
print(courses['Java'])

Java -> Programming in Java
C# -> Programming in C#
Python -> Programming in Python
Programming in Java
Java language

# While loop

In [15]:
menu = 1
while menu != 0:
  print("Enter 0 to close menu!")
  option = int(input("Enter your option:"))
  if option == 1:
    print('You selected option 1')
  elif option == 0:
    print("Closing menu")
    menu = 0

Enter 0 to close menu!
Enter your option:0
Closing menu

Count sum from list until reach number 55

In [35]:
data = [5, 7, 8, 10, 20, 55]

counter = 0
sum = 0
while data[counter] != 55:
  sum += data[counter] # appending to sum
  counter += 1 # updating current index
print(sum)

50

# Unpacking in Python

Unpacking Tuple

In [41]:
fname, lname = ("Marius", "Gzegozevskis")
print(fname) # from tuple we make separated values fname and lname
print(lname)

Marius
Gzegozevskis

Unpacking List

In [46]:
first, *rest = ["bmw", "opel", "ford", "jaguar"]
print(first) # first element bmw
print(rest) # remaining elements

bmw
['opel', 'ford', 'jaguar']

Unpacking Dictionary

In [48]:
courses = {'Java':'Programming in Java', 'C#': 'Programming in C#', 'Python':'Programming in Python'}
summary = {'C':'C Programing', **courses}
print(summary)

{'C': 'C Programing', 'Java': 'Programming in Java', 'C#': 'Programming in C#', 'Python': 'Programming in Python'}

# *args varies argument usage passing a Tuple data structure

In [53]:
def display_inventory(*args: str) -> None:
  for item in args:
    print(item)
display_inventory('shield', 'staff', 'armor', 'boots')

shield
staff
armor
boots

# **kwargs keyword arguments in Python usage

In [54]:
def display_country_info(**kwargs: str):
  for key, value in kwargs.items():
    print(f"{key} {value}")
display_country_info(name='Lietuva', code='LT', population=2.5, phone_code='+370')

name Lietuva
code LT
population 2.5
phone_code +370

# (\*args) and (**kwargs) combination usage

In [57]:
def invoice(product: str, *args, **kwargs) -> None:
  print('product =',product)
  print('color =', args)
  print('description =', kwargs)
invoice("Sneakers", "black", "white", brand="Nike", category="Air Jordans", price=205.55, in_stock=False)

product = Sneakers
color = ('black', 'white')
description = {'brand': 'Nike', 'category': 'Air Jordans', 'price': 205.55, 'in_stock': False}